import(biomaRt)
import(corrplot)
import(DT)
import(EDASeq)
import(edgeR)
import(GenomicRanges)
import(gplots)
import(graphics)
import(grDevices)
import(limma)
import(methods)
import(magrittr)
import(NBPSeq)
import(qvalue)
import(RSQLite)
import(stats)
import(utils)
import(VennDiagram)

importFrom("ABSSeq",ABSSeq)
importFrom("ABSSeq",ABSSeqlm)
importFrom("ABSSeq",aFoldcomplexDesign)
importFrom("ABSSeq",callDEs)
importFrom("ABSSeq",callParameter)
importFrom("ABSSeq",callParameterwithoutReplicates)
importFrom("ABSSeq",estimateSizeFactorsForMatrix)
importFrom("ABSSeq",maxRates)
importFrom("ABSSeq",minimalDispersion)
importFrom("ABSSeq",minRates)
importFrom("ABSSeq",normalFactors)
importFrom("ABSSeq",normMethod)

importFrom("baySeq",getLibsizes)
importFrom("baySeq",getPriors.NB)
importFrom("baySeq",getLikelihoods.NB)
importFrom("baySeq",groups)
importFrom("baySeq",libsizes)
importFrom("baySeq",replicates)
importFrom("baySeq",topCounts)

importFrom("DESeq",adjustScvForBias)
importFrom("DESeq",conditions)
importFrom("DESeq",counts)
importFrom("DESeq",estimateDispersions)
importFrom("DESeq",estimateSizeFactors)
importFrom("DESeq",fitInfo)
importFrom("DESeq",fitNbinomGLMs)
importFrom("DESeq",fitNbinomGLMsForMatrix)
importFrom("DESeq",getBaseMeansAndVariances)
importFrom("DESeq",makeExampleCountDataSet)
importFrom("DESeq",nbinomGLMTest)
importFrom("DESeq",nbinomTest)
importFrom("DESeq",nbinomTestForMatrices)
importFrom("DESeq",nbkd.sf)
importFrom("DESeq",newCountDataSet)
importFrom("DESeq",sizeFactors)

importFrom("DESeq2",DESeq)
importFrom("DESeq2",estimateBetaPriorVar)
importFrom("DESeq2",estimateDispersions)
importFrom("DESeq2",estimateSizeFactors)
importFrom("DESeq2",nbinomLRT)
importFrom("DESeq2",nbinomWaldTest)
importFrom("DESeq2",normalizationFactors)
importFrom("DESeq2",normalizeGeneLength)
importFrom("DESeq2",normTransform)
importFrom("DESeq2",sizeFactors)

importFrom("DSS",callDML)
importFrom("DSS",callDMR)
importFrom("DSS",dispersion)
importFrom("DSS",DMLfit.multiFactor)
importFrom("DSS",DMLtest)
importFrom("DSS",DMLtest.multiFactor)
importFrom("DSS",DSS.DE)
importFrom("DSS",estDispersion)
importFrom("DSS",estNormFactors)
importFrom("DSS",normalizationFactor)
importFrom("DSS",waldTest)

importFrom("GenomicFeatures",makeTxDbFromGFF)
importFrom("GenomicFeatures",exons)
importFrom("GenomicFeatures",genes)
importFrom("GenomicFeatures",transcripts)
importFrom("GenomicFeatures",threeUTRsByTranscript)

importFrom("GenomeInfoDb",seqinfo)
importFrom("GenomeInfoDb",fetchExtendedChromInfoFromUCSC)

importFrom("heatmaply",heatmaply)

importFrom("htmltools",tags)

importFrom("httr",config)
importFrom("httr",set_config)

importFrom("jsonlite",toJSON)
importFrom("jsonlite",fromJSON)

importFrom("log4r",create.logger)
importFrom("log4r",debug)
importFrom("log4r",error)
importFrom("log4r",fatal)
importFrom("log4r",info)
importFrom("log4r",level)
importFrom("log4r",logfile)
importFrom("log4r",warn)

importFrom("NOISeq",addData)
importFrom("NOISeq",dat)
importFrom("NOISeq",dat2save)
importFrom("NOISeq",degenes)
importFrom("NOISeq",DE.plot)
importFrom("NOISeq",explo.plot)
importFrom("NOISeq",noiseq)
importFrom("NOISeq",noiseqbio)
importFrom("NOISeq",readData)
importFrom("NOISeq",tmm)
importFrom("NOISeq",uqua)

importFrom("pander",pandoc.header)

importFrom("rmarkdown",render)

importFrom("rtracklayer",import)
importFrom("rtracklayer",import.bed)

importFrom("stringr",str_match)

importFrom("vsn",vsn2)
importFrom("vsn",predict)

export(buildAnnotationDatabase)
export(buildCustomAnnotation)
export(combineBonferroni)
export(combineMaxp)
export(combineMinp)
export(combineSimes)
export(combineWeight)
export(diagplotAvgFtd)
export(diagplotBoxplot)
export(diagplotCor)
export(diagplotDeHeatmap)
export(diagplotEdaseq)
export(diagplotFiltered)
export(diagplotFtd)
export(diagplotMds)
export(diagplotNoiseq)
export(diagplotPairs)
export(diagplotRoc)
export(diagplotVenn)
export(diagplotVolcano)
export(downsampleCounts)
export(estimateAufcWeights)
export(estimateSimParams)
export(getAnnotation)
export(getDefaults)
export(getInstalledAnnotations)
export(getWeights)
export(importCustomAnnotation)
export(loadAnnotation)
export(makeSimDataTcc)
export(makeSimDataSd)
export(metaseqr2)
export(metaseqrPlot)
export(metaTest)
export(normalizeAbsseq)
export(normalizeDeseq)
export(normalizeDeseq2)
export(normalizeDss)
export(normalizeEdaseq)
export(normalizeEdger)
export(normalizeNbpseq)
export(normalizeNoiseq)
export(read2count)
export(readTargets)
export(statAbsseq)
export(statBayseq)
export(statDeseq)
export(statDeseq2)
export(statDss)
export(statEdger)
export(statLimma)
export(statNbpseq)
export(statNoiseq)
