import(EDASeq)
import(limma)
import(edgeR)
import(NBPSeq)
import(biomaRt)
import(utils)
import(gplots)
import(corrplot)
import(qvalue)
import(brew)
import(rjson)

importFrom("vsn",vsn2)
importFrom("vsn",predict)

importFrom("DESeq",adjustScvForBias)
importFrom("DESeq",conditions)
importFrom("DESeq",counts)
importFrom("DESeq",estimateDispersions)
importFrom("DESeq",estimateSizeFactors)
importFrom("DESeq",fitInfo)
importFrom("DESeq",fitNbinomGLMs)
importFrom("DESeq",fitNbinomGLMsForMatrix)
importFrom("DESeq",getBaseMeansAndVariances)
importFrom("DESeq",makeExampleCountDataSet)
importFrom("DESeq",nbinomGLMTest)
importFrom("DESeq",nbinomTest)
importFrom("DESeq",nbinomTestForMatrices)
importFrom("DESeq",nbkd.sf)
importFrom("DESeq",newCountDataSet)
importFrom("DESeq",sizeFactors)

importFrom("NOISeq",addData)
importFrom("NOISeq",dat)
importFrom("NOISeq",dat2save)
importFrom("NOISeq",degenes)
importFrom("NOISeq",DE.plot)
importFrom("NOISeq",explo.plot)
importFrom("NOISeq",noiseq)
importFrom("NOISeq",noiseqbio)
importFrom("NOISeq",readData)
importFrom("NOISeq",tmm)
importFrom("NOISeq",uqua)

importFrom("baySeq",getLibsizes)
importFrom("baySeq",getPriors.NB)
importFrom("baySeq",getLikelihoods.NB)
importFrom("baySeq",groups)
importFrom("baySeq",libsizes)
importFrom("baySeq",replicates)
importFrom("baySeq",topCounts)

importFrom("log4r",create.logger)
importFrom("log4r",debug)
importFrom("log4r",error)
importFrom("log4r",fatal)
importFrom("log4r",info)
importFrom("log4r",level)
importFrom("log4r",logfile)
importFrom("log4r",warn)

export(as.class.vector)
export(calc.otr)
export(calc.f1score)
export(check.contrast.format)
export(check.file.args)
export(check.libsize)
export(check.num.args)
export(check.packages)
export(check.parallel)
export(check.text.args)
export(combine.bonferroni)
export(combine.maxp)
export(combine.minp)
export(combine.simes)
export(combine.weight)
export(construct.gene.model)
export(diagplot.avg.ftd)
export(diagplot.boxplot)
export(diagplot.cor)
export(diagplot.de.heatmap)
export(diagplot.edaseq)
export(diagplot.filtered)
export(diagplot.ftd)
export(diagplot.mds)
export(diagplot.metaseqr)
export(diagplot.noiseq)
export(diagplot.pairs)
export(diagplot.roc)
export(diagplot.venn)
export(diagplot.volcano)
export(disp)
export(downsample.counts)
export(estimate.aufc.weights)
export(estimate.sim.params)
export(filter.exons)
export(filter.genes)
export(filter.high)
export(filter.low)
export(get.annotation)
export(get.biotypes)
export(get.dataset)
export(get.defaults)
export(get.ensembl.annotation)
export(get.exon.attributes)
export(get.gc.content)
export(get.gene.attributes)
export(get.host)
export(get.preset.opts)
export(get.transcript.utr.attributes)
export(get.ucsc.annotation)
export(get.ucsc.credentials)
export(get.ucsc.dbl)
export(get.ucsc.tabledef)
export(get.ucsc.query)
export(get.valid.chrs)
export(get.weights)
export(load.bs.genome)
export(make.contrast.list)
export(make.fold.change)
export(make.grid)
export(make.html.body)
export(make.html.cells)
export(make.html.header)
export(make.html.rows)
export(make.html.table)
export(make.matrix)
export(make.permutation)
export(make.sample.list)
export(make.sim.data.tcc)
export(make.sim.data.sd)
export(make.stat)
export(make.transformation)
export(make.venn.areas)
export(make.venn.colorscheme)
export(make.venn.counts)
export(make.venn.pairs)
export(metaseqr)
export(normalize.deseq)
export(normalize.edaseq)
export(normalize.edger)
export(normalize.nbpseq)
export(normalize.noiseq)
export(fisher.method)
export(fisher.method.perm)
export(fisher.sum)
export(read2count)
export(read.targets)
export(reduce.exons)
export(reduce.gene.data)
export(stat.bayseq)
export(stat.deseq)
export(stat.edger)
export(stat.limma)
export(stat.nbpseq)
export(stat.noiseq)
export(validate.alg.args)
export(validate.list.args)
export(wapply)
